<div>
  <h1><%= t('.title') %></h1>
  <p>
    <strong><%= t('.information') %></strong><br>
    <a target="_blank" href="mailto:abraham.nieva@uppuebla.edu.mx">Abraham Nieva de la Hidalga</a>
  </p>
</div>

